<%- include("./components/header") %>
<% if (result){%>
    <div class="card" style="margin: 10%;">
        <div class="card-header">
          <%=result._id%>
        </div>
        <div class="card-body">
          <h5 class="card-title"><%=result.title%></h5>
          <p class="card-text"><%=result.post%></p>
          <a href="/edit-article/<%=result._id%>" class="btn btn-primary">Update</a>
          <a href="/delete-post/<%=result._id%>" class="btn btn-warning">Delete</a>
        </div>
      </div>
        
   
<%} else{%>
    there is no record 

<%}%>


<%- include("./components/footer") %>
